@font-face {
  font-family: "PingFang SC";
  src: url('iconfont.eot?t=1583312195259'); /* IE9 */
  src: url('iconfont.eot?t=1583312195259#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1583312195259') format('woff'),
  url('iconfont.ttf?t=1583312195259') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1583312195259#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e6b0";
}

.icon-close-video:before {
  content: "\e6d6";
}

.icon-close:before {
  content: "\e61d";
}

.icon-video:before {
  content: "\e637";
}

.icon-error:before {
  content: "\e724";
}

.icon-info:before {
  content: "\e72a";
}

.icon-success:before {
  content: "\e730";
}

.icon-warning:before {
  content: "\e640";
}

.icon-home:before {
  content: "\e60e";
}

.icon-muted:before {
  content: "\e610";
}

.icon-laji:before {
  content: "\e60d";
}

.icon-danquxunhuan:before {
  content: "\e6fa";
}

.icon-xihuan-full:before {
  content: "\e609";
}

.icon-xihuan:before {
  content: "\e7b8";
}

.icon-jingyin:before {
  content: "\e612";
}

.icon-liwu:before {
  content: "\e602";
}

.icon-xiayishou:before {
  content: "\e62c";
}

.icon-shangyishou:before {
  content: "\e600";
}

.icon-youxi:before {
  content: "\e603";
}

.icon-guandanmu:before {
  content: "\e601";
}

.icon-suiji:before {
  content: "\e604";
}

.icon-bofang:before {
  content: "\e679";
}

.icon-laba:before {
  content: "\e60a";
}

.icon-xiaoping:before {
  content: "\e681";
}

.icon-yinyue:before {
  content: "\e605";
}

.icon-jieting:before {
  content: "\e853";
}

.icon-danmu:before {
  content: "\e60b";
}

.icon-zuo:before {
  content: "\e606";
}

.icon-yinyeliebiao:before {
  content: "\e624";
}

.icon-ci:before {
  content: "\e667";
}

.icon-xia:before {
  content: "\e65b";
}

.icon-quanping:before {
  content: "\e748";
}

.icon-xiazai:before {
  content: "\e607";
}

.icon-you:before {
  content: "\e628";
}

.icon-lianmai:before {
  content: "\e68a";
}

.icon-zhibo:before {
  content: "\e608";
}

.icon-shezhi:before {
  content: "\e685";
}

.icon-pifu:before {
  content: "\e60c";
}

.icon-xinxi:before {
  content: "\e66c";
}

.icon-xunhuan:before {
  content: "\e66e";
}

.icon-yuyin:before {
  content: "\e63a";
}

.icon-suoxiao:before {
  content: "\e654";
}

.icon-zanting:before {
  content: "\e663";
}

