/*
 * @Author: 郭靖 
 * @Date: 2020-05-27 16:29:15 
 * @Last Modified by: 郭靖
 * @Last Modified time: 2020-06-10 17:53:48
 */

// base
$color-dark-primary = #2b85e4
$color-primary = #2d8cf0
$color-info = #2db7f5
$color-success = #19be6b
$color-warning = #ff9900
$color-error = #ed4014

// text color
$color-text-default = #515a6e

// border
$color-border = #dcdee2

// defualt shadow
$color-shadow = #dcdee2


// grey
$color-dark-grey = #17233d
$color-grey = #515a6e
$color-light-grey = #808695
$color-light-grey-x = #c5c8ce
$color-light-grey-xx = #dcdee2
$color-light-grey-xxx = #e8eaec
$color-light-grey-xxxx = #f8f8f9

// white 
$color-white = white

// page背景颜色
$color-background = rgb(248, 248, 248)
$color-background-d = #f2f2f6
$color-background-l = rgb(230, 230, 230)
// 边框颜色
$color-border = #dcdee2

