/*
 * @Author: 郭靖
 * @Date: 2020-05-27 16:14:04
 * @Last Modified by: 郭靖
 * @Last Modified time: 2020-06-10 20:54:55
 */
@import './color.styl'
$fontsize-small-s = 10px
$fontsize-samll = 12px
$fontsize-default = 14px
$fontsize-medium = 16px
$fontsize-large = 18px
$fontsize-large-x = 20px
$fontsize-large-xx = 24px
$fontsize-large-xxx = 30px


/*
 * Button
 */

// button | mix | percent
$btn-mix-hover-percent = 20%
$btn-mix-disabled-percent = 30%
$btn-mix-shadow-percent = 10%
// button | shadow
$btn-shadow-range = 7px
// button | round
$btn-round-radius = 20px
// button | size | large
$btn-size-large-padding-vertical = 8px
$btn-size-large-padding-horizontal = 20px
$btn-size-large-border-radius = 5px
$btn-size-large-font-size = $fontsize-medium
// button | size | default
$btn-size-default-padding-vertical = 7px
$btn-size-default-padding-horizontal = 20px
$btn-size-default-border-radius = 4px
$btn-size-default-font-size = $fontsize-default
// button | size | samll
$btn-size-small-padding-vertical = 5px
$btn-size-small-padding-horizontal = 15px
$btn-size-small-border-radius = 3px
$btn-size-small-font-size = $fontsize-small
// button | type | primary
$btn-type-primary-color = $color-white
$btn-type-primary-background-color = $color-primary
$btn-type-primary-border-color = $color-primary
// button | type | default
$btn-type-default-color = $color-grey
$btn-type-default-background-color = $color-white
$btn-type-default-border-color = $color-light-grey-xx
// button | type | success
$btn-type-success-color = $color-white
$btn-type-success-background-color = $color-success
$btn-type-success-border-color = $color-success
// button | type | warning
$btn-type-warning-color = $color-white
$btn-type-warning-background-color = $color-warning
$btn-type-warning-border-color = $color-warning
// button | type | error
$btn-type-error-color = $color-white
$btn-type-error-background-color = $color-error
$btn-type-error-border-color = $color-error
// button | circle | large
$btn-circle-width = 40px
$btn-circle-height = 40px


/*
 * Message
 */
 
// message | shadow | color
$message-shadow-color = $color-shadow
// message | padding 
$message-padding = 8px 15px
// message | border
$message-border-radius = 3px
// message | color | info
$message-info-color = $color-primary
$message-success-color = $color-success
$message-warning-color = $color-warning
$message-error-color = $color-error

/*
 * Input
 */

// input | color 
$input-focus-border-color= $color-primary
$input-border-color = $color-border
$input-hover-border-color = $color-light-grey-x

// input | disabled
$input-disabled-border-color = $color-light-grey-xx
$input-disabled-bg-color = $color-light-grey-xxx

// input | icon | color
$input-icon-color = $color-light-grey

// input | radius
$input-border-radius = 4px

// input | size | large
$input-large-height = 40px
$input-large-icon-size = 18px
// input | size | default
$input-default-height = 36px
$input-default-icon-size = 16px
// input | size | small
$input-small-height = 32px
$input-small-icon-size = 14px


/*
 * Modal
 */

// modal | dask
$modal-dask-bg-color = $color-light-grey-x

// modal | main
$modal-main-width = 350px
$modal-main-bg-color = white
$modal-main-border-radius = 5px


// modal | title
$modal-title-color = $color-dark-grey-x
$modal-title-font-size = 18px
