/*
 * @Author: 郭靖
 * @Date: 2020-06-03 15:07:11
 * @Last Modified by: 郭靖
 * @Last Modified time: 2020-06-03 15:19:08
 */
.ggl-avatar
  border-radius: 5px
  cursor: pointer
  overflow: hidden
  display: inline-block
  .ggl-avatar-img
    width: 100%
    height: 100%
  &-is-circle
    border-radius: 50% 